

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
/* Thin, royal-gradient scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #456882, #1B3C53);
  border-radius: 10px;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #456882 #1B3C53;
}
 
.menu-item {
  @apply flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-indigo-500/10 transition;
}
